.carousel {
    background: #FAFAFA;
    .carousel-cell {
        width: 25%;
        margin-right: 10px;
        .carousel-cell-image {
            display: block;
            img{
                opacity: 1;
            }
        }
      }
  }
  
  
  
  
  
  