#shopify-section-faq{
    .faq-section{
        .faq-header{
            background-color: $light-grey;
            padding-left: 20px;
            padding-right: 20px;
            h1{
                font-size: $h1_size;
            }
        }
        .content{
            float: left;
            width: 100%;
            padding: 20px;
            .faq-list{
                max-width: 685px;
                margin: 50px auto;
                @include media-query('medium-down'){
                    margin-top: -50px;
                }
                .slide_btn{
                    display: table;
                    width: 100%;
                    padding: 10px 0;
                    border-bottom: 1px solid $brown;
                    @include media-query('medium-down'){
                        width: calc(100% - 15px);
                    }
                    span{
                        font-family: $font-bold;
                        width: calc(100% - 20px);
                        display: table;
                        float: left;
                        line-height: 21px;
                    }
                }
            }
        }
        
    }
    .contact-section{
        background-color: $light-grey;
        margin-bottom: 30px;
        .contact-form{
            max-width: 500px;
            margin: auto;
            h1{
                font-size: $collection_hero_size;
                @include media-query('medium-down'){
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
    }
}