{% include 'page-banner', title: page.title %}
<div class="container">
    <div class="sitemap-section">
        <div class="full-content grid">
            <div class="grid__item large-up--seven-twelfths">
                <div class="site_list">
                    {{ page.content }}
                </div>
            </div>
            <div class="grid__item large-up--five-twelfths list-block">
                <div class="content">
                    <ul>
                        {% for block in section.blocks %}
                            {% if block.type == 'link_list' %}
                                <li><a href="{{ block.settings.link_url }}">{{ block.settings.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Site Map section",
    "settings": [
        {
            "type": "image_picker",
            "id": "feature_image",
            "label": "Feature image"
        },
        {
            "type": "image_picker",
            "id": "mobile_feature_image",
            "label": "Feature image"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title color"
        },
        {
            "type": "select",
            "id": "pos",
            "label": "Hero banner title postion",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                },
                {
                    "value": "center",
                    "label": "Center"
                }
            ]
        }
    ],
    "blocks":[
        {
            "name": "link list",
            "type": "link_list",
            "settings": [
                {
                    "type": "url",
                    "id": "link_url",
                    "label": "Link url"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Link title"
                }
            ]
        }
    ]
}
{% endschema %}